.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px
}

.faq-row {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.faq-row:hover {
  background-color: #e0e0e0;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: bold;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 1rem;
}

.faq-answer.show {
  display: block;
}
