:root {
  /* Primary Colors */
  --primary-color: rgb(74, 87, 68);
  --primary-color-light: rgb(115, 135, 107);
  --primary-color-lighter: rgb(178, 209, 165);
  --primary-color-lightest: rgb(188, 222, 175);
  --primary-color-accent: rgb(217, 255, 201);

  /* Accent Colors */
  --accent-color-1: rgb(236, 180, 71);
  --accent-color-2: rgb(254, 205, 86);
  --accent-color-3: rgb(234, 183, 76);
  --accent-color-4: rgb(190, 132, 24);
  --accent-color-5: rgb(255, 240, 177);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--primary-color-lighter);
}

/* Button Color */
button {
  background-color: var(--accent-color-1);
  color: #fff;
}

/* Link Color */
a {
  color: var(--accent-color-2);
}

/* Hover Link Color */
a:hover {
  color: var(--accent-color-3);
}

@font-face {
  font-family: "Alex Brush";
  src: url("../fonts/AlexBrush-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
  text-size-adjust: 100%;
}

#sticky-menu {
  position: sticky;
  top: 0;
  background-color: var(--primary-color-light);
  padding: 1rem 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a {
  font-family: "Alex Brush";
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  height: 300px;
  width: 500px;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-wrapper img.active {
  opacity: 1;
}

.slider-image {
  max-width: 100%;
  max-height: 100%;
}

.slider-image.landscape {
  object-fit: contain;
  object-position: center;
}

.slider-image.portrait {
  object-fit: contain;
  object-position: center top;
}

/* RSVP */
.submit-button {
  background-color: var(--accent-color-4);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #757575;
}

/* Locations */
.card {
  margin-bottom: 2rem;
}

.card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 2rem auto;
  max-width: 1000px;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.3 ease;
  cursor: pointer;
}
.gallery-img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s ease-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.gallery img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  align-items: center; /* For flexbox vertical alignment */
  justify-content: center; /* For flexbox horizontal alignment */
}

.modal-active {
  display: flex; /* This shows the modal when the class is added */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  margin: 15% auto;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-img {
  position: fixed;
  margin: auto;
  display: block;
  max-width: 90vw;
  max-height: 90vh;
}

.hide-modal {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

.rsvp-form label,
.rsvp-form input,
.rsvp-form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.checkbox-group,
.radio-group {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Thank you page styles */
.thank-you {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thank-you a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.faq-row {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.faq-row:hover {
  background-color: #e0e0e0;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: bold;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 1rem;
}

.faq-answer.show {
  display: block;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.countdown {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .slider-image {
    flex: 1 0 50%;
  }
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .slider-image {
    flex: 1 0 100%;
  }
}
