<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boricua Wedding Homepage</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favico/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favico/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favico/favicon-16x16.png"
    />
    <link rel="manifest" href="favico/site.webmanifest" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/9.22.1/firebase-store.js"></script> -->
    <script src="dist/bundle.js"></script>
    <script src="js/count.js"></script>
    <link rel="stylesheet" href="fonts/style.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header id="sticky-menu">
      <div class="logo">C&amp;G</div>
      <nav>
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="travel.html">Travel</a></li>
          <li><a href="qa.html">Q&amp;A</a></li>
          <li><a href="rsvp.html">RSVP</a></li>
        </ul>
        <ul>
          <li><button id="login-btn">Login</button></li>
          <li><button id="register-btn">Register</button></li>
        </ul>
      </nav>
    </header>
    <script type="text/html" src="js/auth.js"></script>
    <!-- <div class="text">Countdown to July 14th, 2024!</div> -->
    <div class="countdown" id="countdown"></div>
    <main class="slider-wrapper">
      <div class="slider-container">
        <div class="image-wrapper">
          <img class="slider-image" src="images/nyc.JPG" alt="nyc" />
        </div>
        <div class="image-wrapper">
          <img class="slider-image" src="images/brava.JPG" alt="brava" />
        </div>
        <div class="image-wrapper">
          <img class="slider-image" src="images/boriken.JPG" alt="boriken" />
        </div>
        <div class="image-wrapper">
          <img class="slider-image" src="images/chicago.JPG" alt="chicago" />
        </div>
        <div class="image-wrapper">
          <img class="slider-image" src="images/seattle.JPG" alt="seattle" />
        </div>
      </div>
    </main>
    <div id="register-modal" class="modal">
      <div class="modal-content">
        <h2>Register</h2>
        <span class="close">&times;</span>
        <form id="register-form">
          <label for="firstname">First Name:</label><br />
          <input type="text" id="firstname" name="firstname" required /><br />
          <label for="lastname">Last Name:</label><br />
          <input type="text" id="lastname" name="lastname" required /><br />
          <label for="email">Email:</label><br />
          <input type="email" id="email" name="email" required /><br />
          <label for="password">Password:</label><br />
          <input type="password" id="password" name="password" required /><br />
          <button type="button" id="submit-registration">Submit</button>
        </form>
        <button onclick="closeModal()">Close</button>
      </div>
    </div>
    <div id="login-modal" class="modal">
      <div class="modal-content">
        <h2>Login</h2>
        <span class="close">&times;</span>
        <form id="login-form">
          <label for="login-email">Email:</label><br />
          <input type="email" id="login-email" name="email" required /><br />
          <label for="login-password">Password:</label><br />
          <input
            type="password"
            id="login-password"
            name="password"
            required
          /><br />
          <button type="button" id="submit-login">Submit</button>
        </form>
        <button onclick="closeModal()">Close</button>
      </div>
    </div>
  </body>
  <footer id="footer">
    <div class="logo">C&amp;G</div>
    <nav>
      <ul>
        <li><a href="tos.html">Terms of Service</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
      </ul>
    </nav>
    <div class="copyright"></div>
  </footer>
</html>
