<!DOCTYPE html>
<html>
  <head>
    <title>Boricua Wedding Invite</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/invitation.css" />
  </head>
  <body>
    <div class="envelope">
      <div class="letter">
        <h1>Dear <%= user.firstName %>,</h1>
        <p>You are invited to our wedding!</p>
      </div>
    </div>
  </body>
</html>
