@font-face {
  font-family: "Alex Brush";
  src: url("AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

nav a {
  font-family: "Alex Brush", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.logo {
  font-family: "Alex Brush", sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

html {
  text-size-adjust: 100%;
}
